/* google font Azeret Mono */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* common styles start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
.section-title{
    width: 852px;
    margin: 0 auto 48px;
}
.title-text{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.sub-title-text{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}
.description-text{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
/* common styles end */

/* header > banner styles start */
#header{
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background: url("../images/hero-bg.png") no-repeat center;
    background-size: cover;
}
.banner-container{
    max-width: 998px;
    height: 581px;
    margin: 26px auto 45px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-container h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin: 24px 0;
}
.dark-btn{
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
    text-decoration: none;
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin-top: 32px;
    cursor: pointer;
}
/* header > banner styles end */

/* main, main > development section styles start */
#main{
    max-width: 1140px;
    margin: 80px auto;
}
.development-section-container{
    width: 100%;
    height: 1235px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.development-section-row{
    width: 100%;
    height: 336px;
    padding: 48px;
    display: flex;
}
.development-section-col-content{
    width: 447px;
    height: 240px;
    margin: 0 10px;
}
.development-section-col-content p{
    margin: 16px 0;
}
.outline-btn{
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 16px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
}
.development-section-col-img{
    width: 274px;
    height: 240px;
    margin-left: 100px;
}
/* main > development section styles end */

/* main > inspiration section styles start */
.inspiration-section-container{
    width: 100%;
    height: 775px;
    margin-top: 88px;
}
.inspiration-iframe{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.inspiration-iframe iframe{
    width: 100%;
    height: 550px;
    border-radius: 16px;
}
/* main > inspiration section styles end */

/* current target section styles start */
.current-target-section-container{
    width: 100%;
    height: 460px;
    margin-top: 151px;
}
.target-skills{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.skill{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
}
.skill h3{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.skill a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
    margin-top: 15px;
    display: inline-block;
    text-decoration-thickness: 2px;
}
.html-skill{
    background-color: rgba(255, 76, 30, 0.05);
}
.css-skill{
    background-color: rgba(0, 76, 232, 0.05);
}
.js-skill{
    background-color: rgba(255, 223, 0, 0.05);
}
/* current target section styles end */

/* next target section styles start */
.next-target-section-container{
    width: 100%;
    height: 866px;
    margin-top: 111px;
}
.next-target-skills{
    width: 100%;
    height: 219px;
    padding: 40px;
    margin-bottom: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-target-skills:last-child{
    margin-bottom: 0;
}
.skill-image{
    width: 15%;
}
.skill-content{
    width: 80%;
}
.skill-content h3{
    color: rgb(13, 19, 33);
    margin-bottom: 8px;
}
.skill-content a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    display: inline-block;
    margin-top: 24px;
}
/* next target section styles end */

/* support section styles start */
.support-section-container{
    width: 100%;
    height: 313px;
    padding: 64px 48px;
    margin-top: 49px;
    border-radius: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg") no-repeat center;
    background-size: cover;
}
.support-section-content{
    width: 100%;
    height: 185px;
}
.input-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.input-form input[type="text"], .input-form input[type="submit"]{
    padding: 15px 20px;
    outline: none;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
.input-form input[type="text"]{
    width: 500px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
}
.input-form input[type="submit"]{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
/* support section styles end */
